{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Muhammad Afiful Amin</h1>
    <p>NPM    : 1706039963
       <br>Class  : C</p>
    <a type="button" class="btn btn-lg btn-default" href="https://instagram.com/afifulamin"><span class="glyphicon glyphicon-flash"></span> Follow my IG Thanks</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://mysterious-shelf-84563.herokuapp.com"><span class="glyphicon glyphicon-download"></span> 082284557455</a>
  </div>
</div>
{% endblock %}
